body {
  background-color: #e2e2e2;
  transition: 0.5s linear, color 0.5s linear;
}

body.dark {
  background-color: rgb(14, 14, 15);
  color: #e2e2e2;
}

#themeDW {
  position: fixed;
}

#DarkMode {
  background-color: transparent;
  border-style: none;
}

#generalTheme {
  cursor: pointer;
  display: inline-block;
  width: 50px;
}