* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
}

#pHeader {
  background-color: rgb(153, 170, 187);
  height: 80px;
  display: flex;
  align-items: center;
}

.navgation {
  display: flex;
  margin-left: 1%;
}
.buttonMenu {
  cursor: pointer;
  background-color: transparent;
  position: static;
  height: 50px;
  border-style: none;
}
#imageMenu {
  cursor: pointer;
  height: 100%;
  width: 100%;
}
.navgation a {
  display: none;
}
.navgation a.show {
  display: flex;
  margin: auto;
  text-decoration: none;
  color: black;
  margin-left: 15px;
}
.navgation a.show:hover {
  color: brown;
}

.logo {
  display: flex;
  margin: 50%;
  position: absolute;
}

#themeDW {
  display: flex;
  margin-left: 95%;
  position: absolute;
}

/* no responsiveness yet */
